<form action="{{ url_for("criar") }}" method="post">
 
<label for="idcodigo">Código/Id:</label>
<input type="text" id="idcodigo" name="idcodigo" placeholder="Digite o Código/Id da pintura">
<label for="nomedaobra">Nome da obra:</label>
<input type="text" id="nomedaobra" name="nomedaobra" placeholder="Digite o Nome da pintura">
<label for="preco">Preco:</label>
<input type="text" id="preco" name="preco" placeholder="Digite o preço da pintura">
<label for="artista">Artista:</label>
<input type="text" id="artista" name="artista" placeholder="Digite o artista que fez a pintura">
<button type="submit">Enviar</button>